/*** Environment Admin Pages - General Rules ***/
.action-admin_panel-index #content .main-block h2,
.controller-features #content .main-block h2{
  font-family: Arial;
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
}

/* Environment Settings */

/* Profile and Manage Fields tab */

.action-features-manage_fields .main-content .ui-tabs,
.action-admin_panel-site_info .main-content .ui-tabs{
  border: none;
}

.action-features-manage_fields .main-content .ui-tabs .ui-tabs-nav,
.action-admin_panel-site_info .main-content .ui-tabs .ui-tabs-nav{
  margin: 0 0 0 1em;
  padding: 0;
  background: none;
  color: #172738;
  border: 0px solid #aaaaaa;
  border-radius: 4px;
  font-weight: bold;
}

.action-features-manage_fields .main-content .ui-widget-content .ui-state-default,
.action-admin_panel-site_info .main-content .ui-widget-content .ui-state-default,
.action-features-manage_fields .main-content .ui-widget-header .ui-state-default,
.action-admin_panel-site_info .main-content .ui-widget-header .ui-state-default{
  background: #d5d5d5 none;
  color: #555555;
  font-weight: normal;
}

.action-features-manage_fields .main-content .ui-widget-content .ui-state-active,
.action-admin_panel-site_info .main-content .ui-widget-content .ui-state-active,
.action-features-manage_fields .main-content .ui-widget-header .ui-state-active,
.action-admin_panel-site_info .main-content .ui-widget-header .ui-state-active{
  background: #FFFFFF;
  color: #212121;
  font-weight: normal;
}

.action-features-manage_fields .main-content .ui-tabs .ui-tabs-panel,
.action-admin_panel-site_info .main-content .ui-tabs .ui-tabs-panel{
  display: block;
  padding: 1em 1.4em;
  background-color: #FFFFFF;
  color: #777;
  border-width: 1px;
  font-size: 13px;
  text-decoration: none;
}

.action-features-manage_fields .main-content .ui-widget-content .ui-state-active #ui-id-1,
.action-features-manage_fields .main-content .ui-widget-content .ui-state-default #ui-id-1,
.action-features-manage_fields .main-content .ui-widget-content .ui-state-default #ui-id-2,
.action-features-manage_fields .main-content .ui-widget-content .ui-state-default #ui-id-3 {
  padding: 6.6px 10px 6.6px 10px !important;
  white-space: normal;
  word-break: break-word;
  max-width: 155px;
  font-size: 12px;
}

/* Plugins */

.action-plugins-index #content .block a{
  color: #2c66ce;
}

.action-plugins-index table td{
  padding: 10px;
}

/* Organizations Settings */

.action-organizations-index .main-block form#manage-profiles,
.action-organizations-index .main-block form#manage-profiles form{
  background-color: transparent;
}

.action-organizations-index .main-block form#manage-profiles .search-field{
  margin-bottom: 20px;
  display: block;
  height: 30px;
}

.action-organizations-index .main-block form#manage-profiles .search-field .formfield {
  width: 60%;
  margin-right: 0.5em;
  float: left;
}

.action-organizations-index .main-block form#manage-profiles .search-field .formfield input {
  margin-top: 0px;
  margin-right: 0.5em;
  padding: 6px;
  min-width: 97%;
  height: 19px;
  max-height: 19px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-organizations-index .main-block form#manage-profiles input.button.submit{
  height: 32px;
  float: left;
  margin-left: 10px;
  padding: 5px 15px;
  background: #3E67B1 none;
  color: #FFF;
  border-radius: 4px;
  border: 1px solid #3E67B1;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
}

.action-organizations-index .main-block form#manage-profiles input.button.submit:hover{
  background: #5E82C6;
}

.action-organizations-index .main-block #environment-profiles-filter-title,
.action-organizations-index .main-block #environment-profiles-filter-filter{
  line-height: 35px;
  font-size: 12px;
}

.action-organizations-index .main-block  table#organizations-list th{
  text-align: left;
  vertical-align: middle;
  padding: 2px 8px;
}

.action-organizations-index .main-block  table#organizations-list td{
  padding: 8px 8px 0;
}

/* Features Settings */

.controller-features #content form *{
  font-size: 15px;
}

.controller-features #content th{
  text-align: left;
}

.controller-features #content h3{
  min-height: 0;
  margin: 20px auto 10px auto;
}

.controller-features #content hr{
  display: none;
}

.controller-features #content ul.token-input-list{
  padding: 6px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, helvetica;
  font-size: 15px;
}

/* Manage Users */
.action-users-index .main-block #search-users{
  background-color: transparent;
}

.action-users-index .main-block #search-users .search-field{
  margin-bottom: 20px;
  display: block;
  height: 30px;
}

.action-users-index .main-block #search-users .search-field .formfield {
  width: 70%;
  margin-right: 0.5em;
  float: left;
}

.action-users-index .main-block #search-users .search-field .formfield input {
  margin-top: 0px;
  margin-right: 0.5em;
  padding: 6px;
  min-width: 97%;
  height: 19px;
  max-height: 19px;
  background: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-users-index .main-block #search-users input.button.submit{
  height: 32px;
  float: left;
  margin-left: 10px;
  padding: 5px 15px;
  background: #3E67B1 none;
  color: #FFF;
  border-radius: 4px;
  border: 1px solid #3E67B1;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
}

.action-users-index .main-block #search-users input.button.submit:hover{
  background: #5E82C6;
}

.action-users-index .main-block #users-list th{
  text-align: left;
  vertical-align: middle;
  padding: 2px 8px;
}

.action-users-index .main-block #users-list td{
  padding: 8px 8px 0;
}

/* Manage Roles */
.action-role-index .main-block th{
  text-align: left;
  vertical-align: middle;
  padding: 2px 8px;
}

.action-role-index .main-block td{
  padding: 8px 8px 0;
}

.action-role-edit #content form input.button.with-text{
  height: 30px;
  padding: 5px 15px;
  background: #FFF none;
  color: #3E67B1;
  border-radius: 4px;
  border: 1px solid #3E67B1;
  font-size: 14px;
  line-height: 14px;
}

/* Manage template */

.action-templates-index #content .template-kind th{
  text-align: left;
  vertical-align: middle;
  padding: 2px 8px;
}

.action-templates-index #content .template-kind td{
  padding: 8px 8px 0;
}

/* Create Instituition */

/*Temporary - Best fix html structure*/
.action-gov_user_plugin_myprofile-edit_institution #content .main-content form,
.action-gov_user_plugin-create_institution_admin #institution_form{
  font-size: 12px;
  font-family: Arial;
}

.action-gov_user_plugin_myprofile-edit_institution input[type="text"],
.action-gov_user_plugin_myprofile-edit_institution select,
.action-gov_user_plugin-create_institution_admin input[type="text"],
.action-gov_user_plugin-create_institution_admin select {
  height: 30px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background: none;
  padding: 0px 5px;
}

.action-gov_user_plugin_myprofile-edit_institution select,
.action-gov_user_plugin-create_institution_admin select{
  height: 32px;
  font-size: 12px;
  font-family: Arial;
}

.action-gov_user_plugin_myprofile-edit_institution select {
  color: black;
}


.action-gov_user_plugin_myprofile-edit_institution input[type="radio"],
.action-gov_user_plugin-create_institution_admin input[type="radio"] {
  vertical-align: middle;
  margin-right: 5px;
}

.action-gov_user_plugin_myprofile-edit_institution label.formlabel {
  margin: 10px 0px 3px 0px;
  color: #444;
  font-weight: normal;
}

.action-gov_user_plugin_myprofile-edit_institution label.formlabel::after {
  color: red;
}

.action-gov_user_plugin-create_institution_admin label.formlabel {
  margin: 10px 0px 3px 0px;
}

.action-software_communities_plugin_myprofile-new_software .explanation,
.action-gov_user_plugin_myprofile-edit_institution .explanation,
.action-gov_user_plugin-create_institution_admin .explanation {
  color: #3F60C6;
  font-size: 12px;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

.action-software_communities_plugin_myprofile-new_software .explanation{
  margin-top: 5px;
}

.action-gov_user_plugin_myprofile-edit_institution #content .main-content .required-field,
.action-gov_user_plugin_myprofile-edit_institution #content .main-content .errorExplanation,
.action-gov_user_plugin-create_institution_admin .required-field,
.action-gov_user_plugin-create_institution_admin .errorExplanation {
  color: #EA1C00;
  font-size:12px;
  margin-bottom: 20px;
  font-family: Arial;
}

.action-gov_user_plugin_myprofile-edit_institution #content .main-content .required-field {
  color: #444;
}

.action-gov_user_plugin_myprofile-edit_institution .errorExplanation:empty,
.action-gov_user_plugin-create_institution_admin .errorExplanation:empty {
  margin-bottom: 10px;
}

.action-gov_user_plugin_myprofile-edit_institution #community_name {
  color: black;
  width: 220px
}

.action-gov_user_plugin-create_institution_admin #community_name {
  width: 200px;
}

.action-gov_user_plugin_myprofile-edit_institution #institutions_corporate_name {
  width: 287px;
  color: black;
}

.action-gov_user_plugin-create_institution_admin #institutions_corporate_name {
  width: 310px;
}

.action-gov_user_plugin_myprofile-edit_institution #community_country {
  width: 232px;
  color: black;
}

.action-gov_user_plugin-create_institution_admin #community_country {
  width: 213px;
}

.action-gov_user_plugin_myprofile-edit_institution #community_state {
  width: 111px;
  color: black;
}

.action-gov_user_plugin-create_institution_admin #community_state {
  width: 81px;
}

.action-gov_user_plugin_myprofile-edit_institution #community_city {
  width: 165px;
  color: black;
}

.action-gov_user_plugin-create_institution_admin #community_city {
  width: 222px;
}

.action-gov_user_plugin_myprofile-edit_institution #institutions_cnpj,
.action-gov_user_plugin_myprofile-edit_institution #institutions_acronym,
.action-gov_user_plugin-create_institution_admin #institutions_cnpj,
.action-gov_user_plugin-create_institution_admin #institutions_acronym {
  text-indent: 5px;
  width: 530px;
}

.action-gov_user_plugin_myprofile-edit_institution .modal-form-actions,
.action-gov_user_plugin-create_institution_admin .modal-form-actions {
  margin-top: 20px;
}

.action-gov_user_plugin_myprofile-edit_institution .sisp-fields,
.action-gov_user_plugin-create_institution_admin .sisp-fields {
  margin-top: 15px;
}

.action-gov_user_plugin_myprofile-edit_institution #content form input.button.with-text,
.action-gov_user_plugin-create_institution_admin #content form input.button.with-text {
  background-color: #3E67B1;
  color: #fff;
  font-size: 14px;
  font-family: "open_sansregular", Arial;
  height: 32px;
  line-height: 17px;
}

.action-gov_user_plugin_myprofile-edit_institution #content form a.button.with-text,
.action-gov_user_plugin-create_institution_admin #content form a.button.with-text{
  padding: 7px 15px;
}


/*** Community Admin pages ***/
/* Homepage */
.action-profile_editor-index #profile-editor-index h1.block-title{
  color: #172738;
  background-color: transparent;
  border-bottom: none;
  font-size: 2.3em;
  font-weight: bold;
  font-variant: normal;
  font-family: Arial, open_sansbold, Helvetica, sans-serif;
}

/* Index */
.action-cms-index .cms-articles th{
  text-align: left;
}

/* Spam Index */
.action-spam-index .ui-widget-header {
  border: none;
  background: none;
}

/* Tasks - tmp adjust */
.action-profile_editor-index #content .pending-tasks{
  max-width: 500px;
  padding: 15px 20px;
  margin: 20px 0 30px 0;
  border: 1px dotted #ccc;
  border-left: 5px solid #FF0366;
  border-radius: 3px;
  display: block;
  background: #fff;
  line-height: 20px;
  font-size: 13px;
}

.action-profile_editor-index #content .pending-tasks .button.icon-todo.with-text{
  background: #3E67B1;
  color: #FFF;
}

.action-profile_editor-index #content .pending-tasks .button.icon-todo.with-text:hover{
  background: #5E82C6;
}

/* Edit software page */

.action-profile_editor-edit_software_community #profile-data{
  display: block;
}

.action-profile_editor-edit_software_community #profile-data #profile-is-template{
  margin-top: 10px;
}

.action-profile_editor-edit_software_community #profile-data #profile-is-template input[type="checkbox"]{
  margin: 0 10px 0 10px;
}

.action-profile_editor-edit_software_community .field-privacy-selector{
  vertical-align: bottom;
}

.action-profile_editor-edit_software_community #profile-data #profile_data_invite_friends_only,
.action-profile_editor-edit_software_community #profile-data #profile_data_closed_true,
.action-profile_editor-edit_software_community #profile-data #profile_data_closed_false,
.action-profile_editor-edit_software_community #profile-data #profile_data_moderated_articles_true,
.action-profile_editor-edit_software_community #profile-data #profile_data_moderated_articles_false,
.action-profile_editor-edit_software_community #profile-data input[type="checkbox"],
.action-profile_editor-edit_software_community #profile-data input[type="radio"],
.action-profile_editor-edit_software_community #profile-data #profile_data_allow_members_to_invite{
  margin: 0 10px 0 10px;
}

.action-profile_editor-edit_software_community #profile-data div{
  margin-bottom: 5px;
}

.action-profile_editor-edit_software_community #profile-data div br{
  display: none;
}

/* Categories */

.action-categories-index #content .main-content > div{
  padding: 0px 0px 20px;
  border-bottom: 1px solid #EEE;
  height: 30px;
}

.action-categories-index #content .main-content > div a{
  border: 1px solid #3E67B1;
  display: block;
  padding: 7px;
  width: 85px;
  border-radius: 5px;
  color: #3E67B1;
}

.action-categories-index .tree{
  margin-top: 20px;
}

.action-categories-index .tree li{
  margin-bottom: 20px;
}

.action-categories-index .tree li li{
  margin-left: 30px;
}

.action-categories-index .tree li *{
  border-bottom: none;
  list-style-type: disc;
}

.action-categories-index .treeitem{
  margin-bottom: 20px;
}

.action-categories-index .treeitem .color_marker{
  border-bottom: 1px solid;
}

.action-categories-index .treeitem span{
  font-weight: 600;
  font-size: 14px;
}

.action-categories-index .treeitem div{
  margin-top: 6px;
}

.action-categories-index .treeitem ul{
  margin-left: 10px;
}

.action-categories-index .treeitem .button{
  margin-left: 10px;
}

.action-categories-index #content .treeitem a,
.action-categories-index #content .treeitem a:focus,
.action-categories-index #content .treeitem a:visited,
.action-categories-index #content .treeitem a:link{
  margin-right: 10px;
  color: #3E67B1;
}

/*Edition configuration profile */

.action-profile_editor-edit_software_community #content .main-content #profile-data #profile-is-template,
.action-profile_editor-edit #content .main-content #profile-data #profile-is-template,
#noosfero_profile-content #content .main-content #profile-data #profile-is-template{
  background-color: #F0F1F1;
  padding: 6px;
  font-size: 14px;
  font-family: 'open_sansregular';
  margin-bottom: 10px;
  max-width: 405px;
}

.action-profile_editor-edit div#errorExplanation,
#noosfero_profile-content div#errorExplanation{
  margin-left: 0px;
  color: #FF0366;
}

.action-profile_editor-edit div#errorExplanation ul li,
#noosfero_profile-content div#errorExplanation ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 5px;
  font-size: 13px;
}

.action-profile_editor-edit #content .main-content #profile-data #profile-is-template input[type="checkbox"],
#noosfero_profile-content #content .main-content #profile-data #profile-is-template input[type="checkbox"] {
  margin: 0 10px 0 10px;
}

.action-profile_editor-edit #content .main-content #email_public_message,
#noosfero_profile-content #content .main-content #email_public_message,
.action-profile_editor-edit #content .main-content .formfieldline,
#noosfero_profile-content #content .main-content .formfieldline {
  margin: 5px 0 5px 0;
}

.action-profile_editor-edit #content .main-content #profile-data #profile_change_picture div,
#noosfero_profile-content #content .main-content #profile-data #profile_change_picture div {
  margin-bottom: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data #institution_modal_container,
#noosfero_profile-content #content .main-content #profile-data #institution_modal_container {
  margin: 15px 0 11px 0;
}

.action-profile_editor-edit #content .main-content #profile-data #institution_modal_container a,
#noosfero_profile-content #content .main-content #profile-data #institution_modal_container a {
  margin-left: 0px;
}

.action-users-send_mail #content .main-content form label,
.action-profile_editor-edit #content .main-content #profile-data .formlabel,
#noosfero_profile-content #content .main-content #profile-data .formlabel,
.controller-maps.action-maps-edit_location #content .main-content form label,
.action-account-change_password #content .main-content form label,
.action-profile_editor-edit #content .main-content #profile-data .formfieldline label :not(#institution_modal_body) :not(.modal-body),
#noosfero_profile-content #content .main-content #profile-data .formfieldline label :not(#institution_modal_body) :not(.modal-body) {
  color: #231F20;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
}

.action-profile_editor-edit #content .main-content #profile-data div span div div #email_public_message,
#noosfero_profile-content #content .main-content #profile-data div span div div #email_public_message {
  color: #888;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 5px;
}


.action-profile_editor-edit #content .main-content #profile-data .formlabel::after,
#noosfero_profile-content #content .main-content #profile-data .formlabel::after {
  color:#F00;
}

.action-profile_editor-edit #content .main-content #profile-data p .required-field {
  max-width: 374px;
  padding: 15px 20px;
  margin: 20px 0px 25px;
  border-width: 1px 1px 1px 5px;
  border-style: dotted dotted dotted solid;
  border-color: #CCC #CCC #CCC #FF0366;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-radius: 3px;
  display: block;
  background: #FFF none repeat scroll 0% 0%;
  line-height: 20px;
  font-size: 13px;
}

.action-users-send_mail #content .main-content input[type="text"],
.action-admin_panel-site_info #content .main-content input[type="text"],
.action-profile_editor-edit_software_community #content .main-content #profile-data input[type="text"],
.action-profile_editor-edit #content .main-content #profile-data input[type="text"],
#noosfero_profile-content #content .main-content #profile-data input[type="text"],
.controller-maps.action-maps-edit_location #content .main-content form input[type="text"]{
  background: none;
  display: block;
  height: 19px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 405px;
  font-size: 15px;
  font-family: Arial, helvetica;
  color: #585858;
}

.action-users-send_mail #content .main-content{
  font-family: Arial;
}

.action-users-send_mail #content .main-content form label{
  font-size: 12px;
}

.action-users-send_mail #content .main-content input[type="text"] {
  width: 504px;
}

.action-users-send_mail #content .main-content .recipients{
  margin-top: 30px;
}

.action-users-send_mail #content .main-content .formlabel {
  font-weight: 700;
  font-size: 16px;
}

.action-users-send_mail #content .main-content .recipients-checkboxes {
  margin-left: 20px;
}

.action-users-send_mail #content .main-content #profile_admins{
  margin-left: 10px
}

.action-users-send_mail #content .main-content .recipients-checkboxes input[disabled=""] {
    opacity: 0.5;
}

.action-profile_editor-edit_software_community #content .main-content #profile-data .field-with-privacy-selector:hover{
  background: none;
}

.action-profile_editor-edit_software_community #content .main-content #profile-data .field-with-privacy-selector label{
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 300;
}

.action-profile_editor-edit_software_community #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector{
  position: relative;
  bottom: 20px;
}

.action-profile_editor-edit #content #profile_change_picture div div div div div div input[type="file"],
#noosfero_profile-content #content #profile_change_picture div div div div div div input[type="file"] {
  background: none;
  color: #999;
  padding: 0px;
  text-indent: 0px;
  border: 1px solid #bbb;
  font-size: 14px;
  border-radius: 4px;
}

.action-profile_editor-edit #content #profile_change_picture,
#noosfero_profile-content #content #profile_change_picture {
  margin-top: 0px;
}

.action-users-send_mail #content .main-content form div input[type="radio"],
.action-profile_editor-edit #content .main-content form div input[type="radio"],
#noosfero_profile-content #content .main-content form div input[type="radio"],
.action-users-send_mail #content .main-content form input[type="checkbox"],
.action-profile_editor-edit #content .main-content form input[type="checkbox"],
#noosfero_profile-content #content .main-content form input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.action-users-send_mail #content .main-content form div input[type="radio"],
.action-users-send_mail #content .main-content form input[type="checkbox"]{
  margin-bottom: 5px;
}

.action-profile_editor-edit #content .main-content #profile-data .field-with-privacy-selector:hover,
#noosfero_profile-content #content .main-content #profile-data .field-with-privacy-selector:hover {
  background-color: #FFF;
}

.action-profile_editor-edit #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector,
#noosfero_profile-content #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector {
  position: relative;
  top: 6px;
  text-align: right;
}

.action-profile_editor-edit #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector div,
#noosfero_profile-content #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector div {
  text-align: right;
  top: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector label,
#noosfero_profile-content #content .main-content #profile-data .field-with-privacy-selector .field-privacy-selector label,
.action-profile_editor-edit #content .main-content #profile-data #profile_change_picture_title span label,
#noosfero_profile-content #content .main-content #profile-data #profile_change_picture_title span label {
  font-size: 12px;
  font-family: 'open_sansregular';
}

.action-profile_editor-edit_software_community .main-content #category-ajax-selector,
.action-profile_editor-edit #content .main-content #category-ajax-selector,
#noosfero_profile-content #content .main-content #category-ajax-selector {
  border-radius: 4px;
  background: #F0F1F1;
  border-color: #ccc;
  margin-bottom: 10px;
  max-width: 405px;
}

.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector hr,
.action-profile_editor-edit #content .main-content #category-ajax-selector hr,
#noosfero_profile-content #content .main-content #category-ajax-selector hr {
  border-bottom: 1px solid #ddd;
}

.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector{
  margin-bottom: 15px;
}

.action-profile_editor-edit #content .main-content #category-ajax-selector #select-categories .toplevel-categories hr,
#noosfero_profile-content #content .main-content #category-ajax-selector #select-categories .toplevel-categories hr {
  border-color: #ccc;
}

.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector #selected-categories .label,
.action-profile_editor-edit #content .main-content #category-ajax-selector #select-categories div .category-helper-label,
#noosfero_profile-content #content .main-content #category-ajax-selector #select-categories div .category-helper-label {
  font-size: 14px;
}

.action-profile_editor-edit #content .main-content #category-ajax-selector #select-categories div .category-helper-label,
#noosfero_profile-content #content .main-content #category-ajax-selector #select-categories div .category-helper-label {
  color: #888;
}

.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector #select-categories div a:hover,
.action-profile_editor-edit #content .main-content #category-ajax-selector .select-subcategory-link:hover,
#noosfero_profile-content #content .main-content #category-ajax-selector .select-subcategory-link:hover,
.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector .select-subcategory-link:hover,
.action-profile_editor-edit #content .main-content #category-ajax-selector #select-categories div a:hover,
#noosfero_profile-content #content .main-content #category-ajax-selector #select-categories div a:hover {
  cursor: move;
  border: 1px solid #3E67B1;
}

.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector #select-categories div a,
.action-profile_editor-edit_software_community #content .main-content #category-ajax-selector .select-subcategory-link,
.action-profile_editor-edit #content .main-content #category-ajax-selector .select-subcategory-link,
#noosfero_profile-content #content .main-content #category-ajax-selector .select-subcategory-link,
.action-profile_editor-edit #content .main-content #category-ajax-selector #select-categories div a,
#noosfero_profile-content #content .main-content #category-ajax-selector #select-categories div a {
  padding: 2px 5px;
  margin: 2px 0;
  background: #fff;
  display: inline-block;
  border: 1px solid #bbb;
}

.action-profile_editor-edit #content .main-content #profile-data #image-builder-remove-checkbox,
#noosfero_profile-content #content .main-content #profile-data #image-builder-remove-checkbox {
  float: left;
  width: 100%;
  position: relative;
  margin-top: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data #image-builder-remove-checkbox div label,
#noosfero_profile-content #content .main-content #profile-data #image-builder-remove-checkbox div label {
  position: absolute;
  left: 20px;
  padding-top: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data #image-builder-remove-checkbox div div,
#noosfero_profile-content #content .main-content #profile-data #image-builder-remove-checkbox div div {
  margin-top: 0px;
}

.action-profile_editor-edit_software_community #content .main-content #profile-data .button-bar,
.action-profile_editor-edit #content .main-content #profile-data .button-bar,
#noosfero_profile-content #content .main-content #profile-data .button-bar {
  margin: 15px 0 30px 0;
}

.action-profile_editor-edit_software_community #content .main-content #profile-data .button-bar{
  margin-bottom: 90px;
}

.action-profile_editor-edit_software_community #content .main-content #profile-data .button-bar .submit,
#profile_content #noosfero_profile-content #content .main-content #profile-data .button-bar .submit,
.action-profile_editor-edit #content .main-content #profile-data .button-bar .submit,
#noosfero_profile-content #content .main-content #profile-data .button-bar .submit {
  background-color: #3E67B1;
  color: #FFF;
  margin-right: 10px;
}

.action-users-send_mail #content .main-content .submit {
  background-color: #3E67B1;
  color: #FFF;
  height: 30px;
  line-height: 26px;
  padding: 0 15px 5px 15px;
  margin: 10px 10px 0 0;
}

.action-users-send_mail #content .main-content .icon-cancel {
  margin: 10px 10px 0 0;
  display: inline-block;
  line-height: 26px;
  height: 23px;
  padding: 0 15px 5px 15px;
}

.action-profile_editor-edit #delete-profile,
#noosfero_profile-content #delete-profile {
  margin-top:0px;
}


.action-profile_editor-edit_software_community .main-content #profile-data #delete-profile a,
.action-profile_editor-edit #content .main-content #profile-data #delete-profile a,
#noosfero_profile-content #content .main-content #profile-data #delete-profile a {
  border-color: #df3e3e;
  color: #df3e3e;
}


.action-profile_editor-edit_software_community #content .main-content #profile-data #delete-profile a:hover,
.action-profile_editor-edit #content .main-content #profile-data #delete-profile a:hover,
#noosfero_profile-content #content .main-content #profile-data #delete-profile a:hover {
  color: #FFF;
  background: #df3e3e;
}

.action-profile_editor-edit .controller-profile_editor #profile-data,
#noosfero_profile-content .controller-profile_editor #profile-data {
  display: block;
}

/*form Change Password */
.action-account-change_password #content form input.button.with-text.icon-ok.submit{
  height: 32px;
  padding:0px 10px;
}

.action-account-change_password input{
  padding: 6px;
  color: #585858;
  background: #FFF;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, helvetica;
}

/* Members management */
.action-profile_members-index #members-list td{
  padding-top: 5px;
}

/*recover behavior of noosfero*/
.action-profile_members-change_role .role-permissions{
  margin: 12px 0;
  padding-left: 40px;
}

/*recover behavior of noosfero*/
.action-profile_members-change_role .role-permissions li{
  list-style: square;
}

/* Licenses */
.action-licenses-index #content .main-content td {
  padding-top: 8px;
}

/* New Category form and Environment Settings */

.action-categories-edit #content .main-block form input[type="text"],
.action-categories-new #content .main-block form input[type="text"] {
  background: none;
  display: block;
  height: 19px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
  font-size: 15px;
  font-family: arial, helvetica;
  color: #585858;
}

.action-categories-edit #content .formfield input,
.action-categories-new #content .formfield input {
  background: none #FFFFFF;
}

.action-categories-edit #content .main-content #category_image_builder_uploaded_data,
.action-categories-new #content .main-content #category_image_builder_uploaded_data {
  border: none;
}

.action-categories-edit #content .main-content .formfield input,
.action-categories-new #content .main-content .formfield input {
  text-indent: 0px;
  padding: 0px;
  font-size: 14px;
}

.action-admin_panel-site_info #content .main-content form label,
.action-admin_panel-site_info #content .main-content form .formlabel,
.action-categories-edit #content .main-content form .formlabel,
.action-categories-new #content .main-content form .formlabel,
.action-categories-edit #content .main-content form label.formlabel.mandatory,
.action-categories-new #content .main-content form label.formlabel.mandatory {
  font-size: 14px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: #231f20;
  font-weight: 300;
}

.action-categories-edit #content .main-content form label:nth-child(9),
.action-categories-new #content .main-content form label:nth-child(9) {
  margin-top: 11px;
}

.action-admin_panel-site_info .required-field label.formlabel:after,
.action-categories-edit .required-field label.formlabel:after,
.action-categories-new .required-field label.formlabel:after {
  color: red;
}

.action-categories-edit #content .main-content form .required-field .formlabel.mandatory:after,
.action-categories-new #content .main-content form .required-field .formlabel.mandatory:after {
  color: #FF0366;
  font-weight: 500;
}

.action-categories-edit #content .main-content #category_name,
.action-categories-new #content .main-content #category_name {
  margin-bottom: 10px;
}

.action-categories-edit #content .main-content form p .required-field,
.action-categories-new #content .main-content form p .required-field {
  max-width: 500px;
  padding: 15px 20px;
  margin: 20px 0 30px 0;
  border: 1px dotted #ccc;
  border-left: 5px solid #FF0366;
  border-radius: 3px;
  display: block;
  background: #fff;
  line-height: 20px;
  font-size: 13px;
}

.action-categories-edit .explanation,
.action-categories-new .explanation {
  font-style: italic;
  font-size: 10px;
}

.action-categories-edit  #content .main-content .field_with_errors input[type="text"],
.action-categories-new  #content .main-content .field_with_errors input[type="text"] {
  border: 1px solid #FF0366;
  box-shadow: none;
}

.action-admin_panel-site_info #content .main-content form select {
  width: 419px;
}

.action-admin_panel-site_info #content .main-content #environment_default_language {
  margin-bottom: 13px;
}

.action-admin_panel-site_info #content .main-content table tr td {
  padding-top: 7px;
  padding-bottom: 0;
}

.action-admin_panel-site_info #content .main-content #signup-welcome-text input[type="text"] {
  max-width: 862px;
}

.action-admin_panel-site_info #content .main-content .description {
  max-width: 830px;
  padding: 15px 20px;
  margin: 20px 0 30px 0;
  border: 1px dotted #ccc;
  border-left: 5px solid #FF0366;
  border-radius: 3px;
  display: block;
  background: #fff;
  line-height: 20px;
  font-size: 13px;
  color: #172738;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

.action-admin_panel-site_info #content .main-content #thanks-for-signing {
  color: #172738;
}

.action-admin_panel-site_info #content .main-content #thanks-for-signing h3 {
  text-align: left;
  margin-bottom: 37px;
  font-weight: normal;
  font-size: 19px;
  margin-top: 10px;
}

.action-admin_panel-site_info #content .main-content #thanks-for-signing p:nth-child(5),
.action-admin_panel-site_info #content .main-content #thanks-for-signing p:nth-child(10) {
  margin-bottom: 31px;
}

/* Editing sideboxes - Help icon same of the noosfero */
.action-environment_design-index #content #block-types .slick-list .slick-track div .button-bar .icon-help span,
.action-profile_design-index #content #block-types .slick-list .slick-track div .button-bar .icon-help span {
  display: none;
}

.action-environment_design-index #content #block-types .slick-list .slick-track div .button-bar a.button.icon-help.with-text.modal-toggle,
.action-profile_design-index #content #block-types .slick-list .slick-track div .button-bar a.button.icon-help.with-text.modal-toggle {
  background-image: url(../../../icons/tango/Tango/16x16/apps/gnome-help.png);
  background-repeat: no-repeat;
  background-color: #EEE;
  background-position: 3px 50%;
  color: #FFF;
  border: 1px solid #aaaaaa;
  text-decoration: none;
  padding: 0px 2px 0px 22px;
  margin: 0px 0px 0px 0px;
  height: 20px;
}

.action-environment_design-index #content #block-types .slick-list .slick-track div .button-bar a.button.icon-help.with-text.modal-toggle:hover,
.action-profile_design-index #content #block-types .slick-list .slick-track div .button-bar a.button.icon-help.with-text.modal-toggle:hover {
  background-color: #555;
}
/*** End - Editing sideboxes - Help icon same of the noosfero ***/

/* Area 4 edition buttons */
.action-profile_design-index #content #box-organizer .block-outer:hover .software-communities-plugin_software-information-block .button-bar {
  margin-top: 31px;
}
/*** End - Area 4 edition buttons */

/* Download Link Scroll options */
.action-profile_design-index .download-forms .toggle-form ul {
  overflow: auto;
}
/*** End - Download Link Scroll options */

/* profile edition page with colab account */
#noosfero_profile-content #content .button-bar a,
#noosfero_profile-content #content .button-bar input {
  height: 30px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}

#noosfero_profile-content #content-inner label {
  font-weight: normal;
}

#noosfero_profile-content #content .main-content #category-ajax-selector #selected-categories .label {
  color: #172738;
}

#noosfero_profile-content #content .main-content #profile-data input[type="text"] {
  height: 33px;
}

#noosfero_profile-content #content {
  margin-top: 15px;
}

#noosfero_profile-content #content .main-content #profile-data p .required-field,
#noosfero_profile-content #content .main-content .icon-remove::before,
#noosfero_profile-content #content .main-content #cancel-category-button {
  display: none;
}

#noosfero_profile-edit main-content{
  background-color: #fff;
  color: #172738;
  font-size: 12px;
  font-family: "open_sansregular", Arial, Helvetica, sans-serif;
}
