/* Bootstrap modal default css */
.modal {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0px none;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-open .modal,
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear 0s;
}

.fade.in {
  opacity: 1;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-dialog,
.modal-dialog {
  width: 45%;
  margin: 15px auto;
  position: relative;
}

.action-profile_editor-edit #content .main-content #profile-data .modal.in .modal-dialog,
.modal.in .modal-dialog {
  transform: translate(0px, 0px);
}

.action-profile_editor-edit #content .main-content #profile-data .modal.fade .modal-dialog,
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out 0s;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-content,
.modal-content {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0px none;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
}

.action-profile_editor-edit #content .main-content #profile-data .modal-header,
.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #E5E5E5;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-header .close,
.modal-header .close {
  margin-top: -2px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-header button.close,
.modal-header button.close {
  padding: 0px;
  cursor: pointer;
  background: transparent none repeat scroll 0px 0px;
  border: 0px none;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-header .close,
.modal-header .close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0px 1px 0px #FFF;
  opacity: 0.2;
}

.modal-title {
  margin: 0px !important;
  line-height: 1.42857 !important;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-body,
.modal-body {
  position: relative;
  padding: 15px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-footer,
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #E5E5E5;
}


/* Bootstrap modal override */
.action-profile_editor-edit #content .main-content #profile-data .modal-title,
.modal-title {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
}

.action-profile_editor-edit #content .main-header h4,
.modal-header h4 {
  color: #333 !important;
  font-size: 17px !important;
}

.action-profile_editor-edit #content .main-content #profile-data .modal-body,
.modal-body {
  overflow: hidden;
}

/* Bootstrap modal form fields */
.action-profile_editor-edit #content .main-content #profile-data .modal,
.action-profile_editor-edit #content .main-content #profile-data .modal input,
.action-profile_editor-edit #content .main-content #profile-data .modal select,
.action-profile_editor-edit #content .main-content #profile-data .modal .formlabel,
.modal,
.modal input,
.modal select,
.modal .formlabel {
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  font-style: normal;
}

.action-profile_editor-edit #content .main-content #profile-data .modal label,
.modal label {
  margin-left: 4px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .sisp-fields label,
.modal .sisp-fields label {
  margin-left: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal h2,
.modal h2 {
  margin-top: 0px !important;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .form-description,
.modal .form-description {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 15px;
  overflow: hidden;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .formfieldline,
.modal .formfieldline {
  padding: 0px;
  margin: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal input[type="text"],
.action-profile_editor-edit #content .main-content #profile-data .modal select,
.modal input[type="text"],
.modal select {
  padding: 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  background-color: #fff;
}

.action-profile_editor-edit #content .main-content form .modal input[type="radio"],
.modal input[type="radio"] {
  vertical-align: middle;
  margin: 0;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .explanation,
.modal .explanation {
  color: #3F60C6;
  font-size: 12px;
  font-style: italic;
  font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
  letter-spacing: 0.1px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .required-field,
.action-profile_editor-edit #content .main-content #profile-data .modal .errorExplanation,
.modal .required-field,
.modal .errorExplanation {
  color: #EA1C00;
  font-size:12px;
  margin-bottom: 20px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .required-field,
.action-profile_editor-edit #content .main-content #profile-data .modal .errorExplanation:empty,
.modal .required-field,
.modal .errorExplanation:empty {
  margin-bottom: 0px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .spb-row,
.modal .spb-row {
  margin-top: 15px;
  letter-spacing: 0.1px;
}

.action-profile_editor-edit #content .main-content #profile-data .no-margin-top,
.no-margin-top {
  margin-top: 0px !important;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .modal-margin-right,
.modal .modal-margin-right {
  margin-right: 4%;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .modal-margin-left,
.modal .modal-margin-left {
  margin-left: 4%;
}

.action-profile_editor-edit #content .main-content #profile-data .modal #community_name,
.modal #community_name {
  height: 16px;
  width: 200px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal #institutions_corporate_name,
.modal #institutions_corporate_name {
  height: 16px;
  width: 285px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal #community_country,
.modal #community_country {
  width: 220px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal #community_state,
.modal #community_state {
  width: 80px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal #community_city,
.modal #community_city {
  height: 16px;
  width: 190px;
  margin-top: 2px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal #institutions_cnpj,
.action-profile_editor-edit #content .main-content #profile-data .modal #institutions_acronym,
.modal #institutions_cnpj,
.modal #institutions_acronym {
  height: 16px;
  width: 530px;
}

.action-profile_editor-edit #content .main-content #profile-data .modal a.button.with-text.icon-add,
.action-profile_editor-edit #content .main-content #profile-data .modal a.button.with-text.icon-cancel,
.modal a.button.with-text.icon-add,
.modal a.button.with-text.icon-cancel {
  line-height: 25px !important;
  padding: 5px 15px !important;
  font-size: 12px !important;
}

.action-profile_editor-edit #content .main-content #profile-data .modal a.button.with-text.icon-add,
.modal a.button.with-text.icon-add {
  background-color: #3E67B1 !important;
  color: #fff !important;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .public-institutions-fields,
.modal .public-institutions-fields {
  display: none;
}

.action-profile_editor-edit #content .main-content #profile-data .modal .modal-form-actions,
.modal .modal-form-actions {
  margin-top: 20px;
}

/* New rating page */
.rating-create-institution-container {
  overflow: hidden;
}

.rating-create-institution-container > .institution-not-found {
  line-height: 30px;
}

.rating-create-institution-container .institution-not-found {
  position: relative;
  float: left;
}

.rating-create-institution-container  #institution_modal_container {
  position: relative;
  float: left;
}

.rating-create-institution-container  #create_institution_link {
  background-color: #3E67B1 !important;
  color: #FFF !important;
  text-transform: none !important;
}
