server {
  listen 80;

  root /usr/share/nginx/html/;
  index index.php index.html index.htm;

  server_name <%= node['config']['monitor_external_hostname'] %>;

  location /loganalyzer/images/ {
    alias /usr/share/nginx/html/loganalyzer/images/;
  }

  location /loganalyzer/js/ {
    alias /usr/share/nginx/html/loganalyzer/js/;
  }

  location /loganalyzer/css/ {
    alias /usr/share/nginx/html/loganalyzer/css/;
  }

  error_page 404 /404.html;
  error_page 500 502 503 504 /50x.html;

  # Pass the PHP script to FastCGI server listening on the php-fpm socket
  location ~ \.php$ {
    fastcgi_pass 127.0.0.1:9000;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
}

